html {
  touch-action: manipulation;
}

#board {
  left: 0px;
  top: 0px;
  /* top: 20px; */
  width: 320px;
  height: 430px;
  position: absolute;
  background-color: black;
}

#control {
  left: 0px;
  top: 430px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: red;
}

#undo,
#redo {
  width: 50px;
  height: 50px;
  position: absolute;
}
#undo {
  left: 100px;
  top: 430px;
}
#redo {
  left: 150px;
  top: 430px;
}

#board table {
  /* background-color: black; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  border-collapse: collapse;
  border: solid 2px #aaa;
}

#board table td {
  position: relative;
  border: solid 1px #aaa;
}

#board table td img {
  vertical-align: top;
  width: 100%;
  position: absolute;
}
