html {
  touch-action: manipulation;
}

#board {
  left: 0px;
  top: 0px;
  /* top: 20px; */
  width: 320px;
  height: 430px;
  position: absolute;
  background-color: black;
  overflow: hidden;
}

#control {
  left: 0px;
  top: 430px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: black;
  overflow: hidden;
}

#control .inner {
  width: calc(70px * 3 + 3px);
  height: calc(70px * 3 + 3px);
}
#control .inner .cell {
  width: calc(70px - 1px);
  height: calc(70px - 1px);
}

#board .inner,
#control .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: #aaa;
  border: solid 2px #aaa;
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
}
#control .inner {
  background-color: black;
}

.cell {
  display: inline-block;
  position: relative;
  padding-right: 1px;
  padding-bottom: 1px;
  vertical-align: top;
}

.cell img {
  width: 100%;
  position: absolute;
  z-index: 0;
}
.cell img.bg {
  width: calc(100% - 1px);
  position: absolute;
  z-index: 0;
}
.cell img.link {
  margin-left: -100%;
  margin-top: -100%;
  width: 300%;
  z-index: 1;
}
.cell img.cursor {
  width: calc(100% - 1px);
  z-index: 2;
}

.cell .clicker {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

#undo,
#redo,
#pin,
#dispose,
#confirm,
#judgment {
  width: 50px;
  height: 50px;
  position: absolute;
}
#undo {
  left: 170px;
  top: 430px;
}
#redo {
  left: 220px;
  top: 430px;
}
#pin {
  left: 170px;
  top: 480px;
}
#dispose {
  left: 220px;
  top: 480px;
}
#confirm {
  left: 270px;
  top: 480px;
}
#judgment {
  left: 110px;
  top: 480px;
}
