html {
  touch-action: manipulation;
}

#board {
  left: 0px;
  top: 0px;
  /* top: 20px; */
  width: 320px;
  height: 430px;
  position: absolute;
  background-color: black;
}

#control {
  left: 220px;
  top: 430px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: black;
  overflow: hidden;
}

#control table {
  width: calc(70px * 3 + 3px);
  height: calc(70px * 3 + 3px);
}
#control table td {
  width: calc(70px - 1px);
  height: calc(70px - 1px);
}

#board table,
#control table {
  /* background-color: black; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  border-collapse: collapse;
  border: solid 2px #aaa;
}

#board table td,
#control table td {
  position: relative;
  border: solid 1px #aaa;
}

#board table td img,
#control table td img {
  vertical-align: top;
  width: 100%;
  position: absolute;
}

#undo,
#redo,
#pin,
#dispose,
#confirm {
  width: 50px;
  height: 50px;
  position: absolute;
}
#undo {
  left: 0px;
  top: 430px;
}
#redo {
  left: 50px;
  top: 430px;
}
#pin {
  left: 0px;
  top: 480px;
}
#dispose {
  left: 50px;
  top: 480px;
}
#confirm {
  left: 100px;
  top: 480px;
}
