<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=320, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PePuP</title>
    <link rel="stylesheet" href="css/html5reset-1.6.1.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.28/dist/index.min.js"></script>
  </head>

  <body>
    <div id="app">
      <div
        id="board"
        @touchstart="touchstart"
        @touchmove="touchmove"
        @touchend="touchend"
      >
        <table :style="boardsize">
          <tbody>
            <tr v-for="y in height">
              <td
                v-for="x in width"
                :style="{ width: cellsize + 'px', height: cellsize + 'px' }"
              >
                <cell
                  :board="board"
                  :x="x-1"
                  :y="y-1"
                  @click="setCursor(x-1, y-1)"
                ></cell>
                <img
                  v-if="cursor.x == x-1 && cursor.y == y-1"
                  src="img/cursor.png"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="control" @touchend="clickCell(cursor.x, cursor.y, $event)">
        <table>
          <tbody>
            <tr v-for="addy in 3">
              <td v-for="addx in 3">
                <cell
                  :board="board"
                  :x="cursor.x + addx - 2"
                  :y="cursor.y + addy - 2"
                ></cell>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="undo" @click="undo">
        <img v-if="doUndo" src="img/undo.png" />
        <img v-else src="img/undo_disable.png" />
      </div>
      <div id="redo" @click="redo">
        <img v-if="doRedo" src="img/redo.png" />
        <img v-else src="img/redo_disable.png" />
      </div>
      <div id="pin" @click="pin = !pin">
        <img v-if="pin" src="img/pin_on.png" />
        <img v-else src="img/pin_off.png" />
      </div>
      <div id="dispose" @click="dispose">
        <img v-if="hasPin" src="img/dispose.png" />
        <img v-else src="img/dispose_disable.png" />
      </div>
      <div id="confirm" @click="confirm">
        <img v-if="hasPin" src="img/confirm.png" />
        <img v-else src="img/confirm_disable.png" />
      </div>
    </div>
    <template id="cell">
      <div @click="$emit('click', $event)">
        <!-- <object type="image/svg+xml" data="mode/akari/cell.svg"></object> -->
        <img v-for="image in images" :src="image.src" />
        <img
          v-if="current !== undefined && current.pin !== undefined"
          :src="`img/pin${current.pin}.png`"
        />
      </div>
    </template>
    <script
      type="application/javascript"
      data-main="js/app.js"
      src="js/require.js"
    ></script>
  </body>
</html>
