<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=320, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PePuP</title>
    <link rel="stylesheet" href="css/html5reset-1.6.1.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.28/dist/index.min.js"></script>
  </head>

  <body>
    <div id="app">
      <div
        id="board"
        @touchstart="touchstart"
        @touchmove="touchmove"
        @touchend="touchend"
      >
        <div class="inner" :style="boardsize">
          <template v-for="y in height">
            <template v-for="x in width">
              <cell
                :style="{ width: (cellsize - 1) + 'px', height: (cellsize - 1) + 'px' }"
                :board="board"
                :x="x-1"
                :y="y-1"
                @click="setCursor(x-1, y-1)"
              >
                <img
                  v-if="cursor.x == x-1 && cursor.y == y-1"
                  src="img/cursor.png"
                  class="cursor"
              /></cell>
            </template>
          </template>
        </div>
      </div>
      <div id="control" @touchend="clickCell(cursor.x, cursor.y, $event)">
        <div class="inner">
          <template v-for="cell in controlcells">
            <div v-if="cell.out" class="cell out"></div>
            <cell v-else :board="board" :x="cell.x" :y="cell.y"></cell>
          </template>
        </div>
      </div>
      <div id="pin" class="button" @click="pin = !pin">
        <img v-if="pin" src="img/pin-on.svg" />
        <img v-else src="img/pin-off.svg" />
      </div>
      <template v-if="pin">
        <div
          id="dispose"
          class="button"
          :class="{ disable: !hasPin }"
          @click="dispose"
        >
          <img src="img/cancel.svg" />
        </div>
        <div
          id="confirm"
          class="button"
          :class="{ disable: !hasPin }"
          @click="confirm"
        >
          <img src="img/confirmed.svg" />
        </div>
      </template>
      <template v-else>
        <div
          id="undo"
          class="button"
          :class="{ disable: !doUndo }"
          @click="undo"
        >
          <img src="img/previous-button.svg" />
        </div>
        <div
          id="redo"
          class="button"
          :class="{ disable: !doRedo }"
          @click="redo"
        >
          <img src="img/next-button.svg" />
        </div>
      </template>
      <div id="judgment" class="button" @click="judge">
        <img v-if="judgment === true" src="img/thumb-up.svg" />
        <img v-else-if="judgment === false" src="img/thumb-down.svg" />
        <img v-else src="img/inspiration.svg" />
      </div>
    </div>
    <template id="cell">
      <div class="cell">
        <div @click="$emit('click', $event)" class="clicker"></div>
        <!-- <object type="image/svg+xml" data="mode/akari/cell.svg"></object> -->
        <img v-for="image in images" :src="image.src" :class="image.class" />
        <img
          v-if="current !== undefined && current.pin !== undefined"
          :src="`img/cell/pin${current.pin}.png`"
        />
        <slot></slot>
      </div>
    </template>
    <script
      type="application/javascript"
      data-main="js/app.js"
      src="js/require.js"
    ></script>
  </body>
</html>
